body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: #ffc4d1;
}

menu{
    margin: 0 auto;
    background-color: #2c2b3c;
    color:#fffdf4;
    padding: 10px;
}
menu a {
    color: #fffdf4;
    padding-left: 20px;
    text-decoration: none;
}

menu a:hover{
    color: #ffc4d1;
}

menu a:visited{
    color: #fffdf4
}

header{
    margin: 0 auto;
    padding: 10px;
}

.codigo-honor{
    background-color: #2c2b3c;
    color: #fffdf4;
    margin: 0 auto;
    border-radius: 15px;
}

.codigo-honor h1{
    padding: 10px 0px 0 10px;    
}

.codigo-honor h3{
    padding: 0px 0px 0px 10px;
    margin: auto;
}

.codigo-honor p{
    padding: 0px 0px 10px 10px;
    line-height: 1.5;
}

.guia a{
 color: #2c2b3c;
 text-decoration: none;
 line-height: 1.5;

}

.guia a:hover{
    color: #fffdf4;
    text-decoration: underline;
}



footer{
    background-color: #2c2b3c;
    color: #fffdf4;
    padding: 5px;
}


